<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-medium is-dark is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <% if signed_in? %>
              <%=  link_to current_user.email, root_path, class: "navbar-item"  %>
            <%else%>
              <%= link_to 'BlogCina', root_path, class: "navbar-item"%>
            <%end%>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <% if signed_in? %>
                  <%= link_to 'Sign out', sign_out_path, method: :delete, class: "navbar-item" %>
              <%else%>
                  <%= link_to 'Sign in', sign_in_path, class: "navbar-item" %>
              <%end%>
              <a class="navbar-item">
                Documentation
              </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          <%= yield :page_title%>
        </p>
      </div>
    </div>

  </section>
    <%= yield %>
  </body>
</html>